<%- include("partials/header.ejs") %>

<section class="jumbotron text-center bg-light border-bottom" style="background:transparent !important">
    <div class="container">
        <h1 class="jumbotron-heading">Expense Tracker</h1>
        <p class="lead text-muted">A minimal expense tracker to save and track your monthly expenses.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/register" role="button" style="margin: 4px;" >Sign up</a>
            <a class="btn btn-primary btn-lg" href="/login" role="button" style="margin: 4px;" >Login</a>
          </p>
    </div>
</section>

<div class="container">
    <h1 class="text-center">Features</h1><br><br>
    <div class="row justify-content-around pt-40">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">

                <div class="card-body">
                    <p class="card-text">Track expenses and tag them with
                        predefined categories.</p>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 box-shadow">

                <div class="card-body">
                    <p class="card-text">View total expenses per month, including
                        money spent per catogory.</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>