<%- include("partials/header.ejs") %>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">Expense Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav my-2">
        <li class="nav-item active">
          <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>



<section class="jumbotron text-center bg-light border-bottom" style="background:transparent !important">
    <div class="container">
        <h1 class="jumbotron-heading">Expense Tracker</h1>
        <p class="lead text-muted">A minimal expense tracker to save and track your monthly expenses.</p>
    </div>
</section>

<div class="container">
    <h1 class="text-center">Features</h1><br><br>
    <div class="row justify-content-around pt-40">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">

                <div class="card-body">
                    <p class="card-text">Save expenses for every month without any hassle and categorise them with our
                        predefined categories.</p>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a type="button" class="btn btn-sm btn-outline-secondary" href="/expenses/new">Create
                                Expense</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 box-shadow">

                <div class="card-body">
                    <p class="card-text">View money spent in a selected month, including the total expenses and the
                        money spent per catogory.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a type="button" class="btn  btn-sm btn-outline-secondary" href="/expenses?_method=GET">View
                                Expenses</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("partials/footer.ejs") %>